section.high li {
background-color: red;
color: white;
}

section.medium li {
background-color: orange;
color: white;
}

section.low li {
background-color: gray;
color: black;
}

section.done li {
background-color: black;
color: cyan;
}

h2 {
  text-align: center;
}
