header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  text-align: center;
}
section {
  position: relative;
  top: 100px;
  left: 0px;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 200px;
  margin-right: 100px;
  height: 300px;
  background-color: #ADD8E6;
}
article {
  position: relative;
  top: 500px
  left: 0px;
  margin-top: 25px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
  height: 75px;
  background-color: blue;
}
