section.high {
background-color: red;
color: white;
}

section.medium {
background-color: orange;
color: white;
}

section.low {
background-color: gray;
color: black;
}

section.done {
background-color: black;
color: cyan;
}

h2 {
  text-align: center;
  color: green;
}

section{
  border: 5px solid black;
  height: 200px;
  width: 300px;
  overflow: auto;
}
